body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none !important;
  text-transform: capitalize;
}

* {
  box-sizing: border-box;
}
.container{
  max-width: 80%;
  margin: 0 auto;
}